/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=EB+Garamond:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&family=Inconsolata:wght@400;600&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Sorts+Mill+Goudy:ital@0;1&display=swap");

CSS rules to specify families

font-family: 'Bad Script', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Inconsolata', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Sorts Mill Goudy', serif;


body {
  font-family: 'Poppins', sans-serif;
}

/* Global */

/*img {
  max-width: 100%;
}

.btn {
  width: max-content;
  font-size: 1rem;
  padding: 1rem 2rem;
  background: #abcdef;
  color: #040964;
  text-transform: lowercase;
  text-decoration: none;
  border-radius: 1.5rem;
}

.logo {
  font-family: Sorts Mils Goudy;
  font-size: 1rem;
  font-weight: bold;
}
*/

/* Navigation */

nav.header {
  width: 100vw;
  position: absolute;
  top: .75rem;
  left: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 1rem;
  display: flex;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li:first-child {
  margin-left: 0;
  margin-right: auto;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}





/*@media screen and (max-width: 600px) 

{
  nav ul {
    margin: 1rem;
    flex-direction: column;
  } 

  nav ul li {
    margin-left: 0;
  }
} */

/* Hero */


section.hero {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #040964;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-size: cover;
  padding-left: 3rem;
}

/*  background: url("/images/WebBlackTie.jpg"); 

section.hero h1 {
  font-size: 3rem;
  color: #040964;
  max-width: 25rem;
}

section.hero img.ad {
  width: 15rem;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

@media screen and (max-width: 600px) 

{
  section.hero {
    height: 30rem;
    padding-left: 1rem;
  }

  section.hero h1 {
    font-size: 2rem;
  }

    section.hero aside.action {
  font-family: Bad Script;
  font-size: 1rem;
  font-weight: bold;
  }
}
 */