/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=EB+Garamond:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&family=Inconsolata:wght@400;600&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Sorts+Mill+Goudy:ital@0;1&display=swap");

CSS rules to specify families

/*font-family: 'Grape Nuts', handwriting;
font-family: 'EB Garamond', serif;
font-family: 'Inconsolata', monospace; */
font-family: 'Poppins', sans-serif;
font-family: 'Sorts Mill Goudy', serif;

body {
  font-family: 'Poppins', sans-serif;
}


/* Global */

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
  line-break: rem;
}

a.menu1 {
  font-size: 2rem;
}

a.menu2 {
  font-size: .75rem;
  text-align: center;
}

img {
  max-width: 100%;
  padding-inline: 0rem;
}

.btn {
  width: max-content;
  font-size: 1rem;
  padding: 1rem 2rem;
  background: #abcdef;
  color: #040964;
  text-transform: capitalize; 
  text-decoration: none;
  border-radius: 1rem;
}

.logo {
  font-family: Sorts Mils Goudy;
  font-size: 1rem;
  font-weight: bold;
}


/* Navigation */

nav.header {
  width: 100vw;
  position: absolute;
  top: .75rem;
  left: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 1rem;
  display: flex;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li:first-child {
  margin-left: 0;
  margin-right: auto;
}

nav ul li a {
  color: #040964;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  nav ul {
    margin: 1rem;
    flex-direction: column;
  } 

  nav ul li {
    margin-left: 0;
  }
}

/* Hero */

section.hero {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #040964;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  padding-left: .5rem;
  padding-top: 1.5rem;
}

/*  background: url("../images/WebBlackTie.jpg"); */

@media screen and (max-width: 480px) {
  section.hero {
    height: 30rem;
    padding-left: 1rem;
  }

  section.hero h1 {
  font-size: 2rem;
  color: #040964;
  }

  section.hero img.ad {
  width: 15rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  }

  section.hero aside.action {
  font-family: Sorts Mill Goudy;
  font-size: 1rem;
  font-weight: bold;
  left: 0;
  }
}

/* Featured */

section.featured {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #040964;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.featured {
  border: 1px outset dimgrey; 
  background-color: d9d9d9; 
  text-align: center;"
  padding: 2rem;
 }

.buybar {
  background: #d9d9d9;
  color: #040964;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align: center;
  background-size: cover;
  padding: 1rem;
}

.featured ul {
  list-style: none;
  padding-right: 10;
  margin: 1rem;
  display: flex;
}

.featured li:first-child {
  margin-left: 0;
  margin-left: 1rem;
  margin-right: auto;
}

/* Footer */
nav.footer {
  width: 100vw;
  position: absolute;
  margin-bottom: 0;
}